<a href="https://colab.research.google.com/github/sundarbsb/machine-Learning/blob/master/glassdoor_jobs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA CLEANING**

In [1]:
import pandas as pd
data=pd.read_csv("/content/glassdoor_jobs.csv")
data.shape

(956, 15)

In [2]:
data.drop(labels='Unnamed: 0', axis='columns', inplace=True)
data=data[data['Salary Estimate'] != '-1']
# data.head()

In [3]:
# data.info()
data.describe()

           Rating      Founded
count  742.000000   742.000000
mean     3.618868  1837.154987
std      0.801210   497.183763
min     -1.000000    -1.000000
25%      3.300000  1939.000000
50%      3.700000  1988.000000
75%      4.000000  2007.000000
max      5.000000  2019.000000

In [4]:
data['Job Title'].value_counts()

Data Scientist                                                 131
Data Engineer                                                   53
Senior Data Scientist                                           34
Data Analyst                                                    15
Senior Data Engineer                                            14
                                                              ...
SQL Data Engineer                                                1
Manager, Safety Scientist, Medical Safety & Risk Management      1
Director, Data Science                                           1
Sr. Data Engineer | Big Data SaaS Pipeline                       1
Senior Quantitative Analyst                                      1
Name: Job Title, Length: 264, dtype: int64

In [5]:

def jobtitle_c(title):
  if 'data scientist' in title.lower():
    return 'data scientist'
  elif 'data engineer' in title.lower():
    return 'data engineer'
  elif 'analyst' in title.lower():
    return 'analyst'
  elif 'machine learning' in title.lower():
    return 'mle'
  elif 'manager' in title.lower():
    return 'manager'
  elif 'director' in title.lower():
    return 'director'
  else:
    return 'na'

def job_seniority(title):
  if 'sr' in title.lower() or 'senior' in title.lower() or 'sr.' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
    return 'senior'
  elif 'jr' in title.lower() or 'jr.' in title.lower():
    return 'jr'
  else:
    return 'na'

In [6]:
data['job_title_simplified'] = data['Job Title'].apply(jobtitle_c)
data['seniority']=data['Job Title'].apply(job_seniority)
print(data['job_title_simplified'].value_counts())
print(data['seniority'].value_counts())

data scientist    279
na                184
data engineer     119
analyst           102
manager            22
mle                22
director           14
Name: job_title_simplified, dtype: int64
na        520
senior    220
jr          2
Name: seniority, dtype: int64

In [7]:
drop_columns=['Job Title']
data=data.drop(drop_columns,axis=1)

In [8]:
data.head()

               Salary Estimate  ... seniority
0   $53K-$91K (Glassdoor est.)  ...        na
1  $63K-$112K (Glassdoor est.)  ...        na
2   $80K-$90K (Glassdoor est.)  ...        na
3   $56K-$97K (Glassdoor est.)  ...        na
4  $86K-$143K (Glassdoor est.)  ...        na

[5 rows x 15 columns]

In [9]:
salary=data['Salary Estimate'].apply(lambda x: x.split("(")[0])
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [10]:
salary=salary.apply(lambda x: x.replace("$","").replace("K",""))

In [11]:
print("Length of Salary: ",len(salary.unique()))
salary.unique()[380:]

Length of Salary:  416

array(['84-153 ', '44-73 ', '40-87 ', '72-142 ', '74-137 ', '57-109 ',
       '136-208 ', '171-272 ', '65-126 ', '118-228 ', '113-182 ',
       '58-104 ', '58-108 ', '81-161 ', '115-220 ', '71-144 ', '32-57 ',
       '79-136 ', '48-113 ', '27-47 Per Hour', '68-125 ', '39-67 ',
       '71-135 ', '61-123 ', '87-141 ', '71-121 ', '72-121 ', '51-88 ',
       '101-141 ', '79-127 ', '81-132 ',
       'Employer Provided Salary:120-140', '65-113 ', '59-125 ',
       '80-142 ', '62-113 '], dtype=object)

In [12]:
data['salary_per_hour'] = salary.apply(lambda x: 1 if "per hour" in x.lower() else 0)
data['emp_provided_salary'] = salary.apply(lambda x: 1 if "employer provided salary" in x.lower() else 0)
salary = salary.apply(lambda x: x.lower().replace("per hour", "").replace("employer provided salary:", "").replace(" ",""))
data["min_salary"] = salary.apply(lambda x: int(x.split("-")[0]))
data["max_salary"] = salary.apply(lambda x: int(x.split("-")[1]))
data["average_salary"] = (data["min_salary"]+data["max_salary"])/2

In [13]:
data=data.drop(['Salary Estimate'],axis=1)
data.head()

                                     Job Description  ...  average_salary
0  Data Scientist\nLocation: Albuquerque, NM\nEdu...  ...            72.0
1  What You Will Do:\n\nI. General Summary\n\nThe...  ...            87.5
2  KnowBe4, Inc. is a high growth information sec...  ...            85.0
3  *Organization and Job ID**\nJob ID: 310709\n\n...  ...            76.5
4  Data Scientist\nAffinity Solutions / Marketing...  ...           114.5

[5 rows x 19 columns]

In [14]:
data['updated_company_name']=data['Company Name'].apply(lambda x: x.split("\n")[0])
data=data.drop(['Company Name'], axis=1)
data.head()

                                     Job Description  ...                   updated_company_name
0  Data Scientist\nLocation: Albuquerque, NM\nEdu...  ...                      Tecolote Research
1  What You Will Do:\n\nI. General Summary\n\nThe...  ...  University of Maryland Medical System
2  KnowBe4, Inc. is a high growth information sec...  ...                                KnowBe4
3  *Organization and Job ID**\nJob ID: 310709\n\n...  ...                                   PNNL
4  Data Scientist\nAffinity Solutions / Marketing...  ...                     Affinity Solutions

[5 rows x 19 columns]

In [15]:
data['updated_competitors']=data['Competitors'].apply(lambda x: len(x.split(","))if ","in x else 0)
data['updated_competitors'].value_counts()
data=data.drop(['Competitors'],axis=1)

In [16]:
data["job_state"] = data["Location"].apply(lambda x: x.split(',')[1])
data=data.drop(['Location'],axis=1)
data['job_state'].unique()

array([' NM', ' MD', ' FL', ' WA', ' NY', ' TX', ' CA', ' VA', ' MA',
       ' NJ', ' CO', ' IL', ' KY', ' OR', ' CT', ' MI', ' DC', ' OH',
       ' AL', ' MO', ' PA', ' GA', ' IN', ' LA', ' WI', ' NC', ' AZ',
       ' NE', ' MN', ' Los Angeles', ' UT', ' TN', ' DE', ' ID', ' RI',
       ' IA', ' SC', ' KS'], dtype=object)

In [17]:
data['job_state'] = data['job_state'].apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'CA')
data['job_state'].value_counts()[:5]

CA    152
MA    103
NY     72
VA     41
IL     40
Name: job_state, dtype: int64

In [18]:
data['Founded'].value_counts()

-1       50
 2010    32
 2008    31
 1996    27
 2006    24
         ..
 1985     1
 1914     1
 1929     1
 1971     1
 1917     1
Name: Founded, Length: 102, dtype: int64

In [19]:
data["company_age"] = data['Founded'].apply(lambda x: x if x<1 else 2020-x)
data=data.drop(['Founded'],axis=1)
data["company_age"].value_counts()

-1      50
 10     32
 12     31
 24     27
 14     24
        ..
 121     1
 118     1
 106     1
 103     1
 276     1
Name: company_age, Length: 102, dtype: int64

In [20]:
data.head()

                                     Job Description  ...  company_age
0  Data Scientist\nLocation: Albuquerque, NM\nEdu...  ...           47
1  What You Will Do:\n\nI. General Summary\n\nThe...  ...           36
2  KnowBe4, Inc. is a high growth information sec...  ...           10
3  *Organization and Job ID**\nJob ID: 310709\n\n...  ...           55
4  Data Scientist\nAffinity Solutions / Marketing...  ...           22

[5 rows x 19 columns]

In [21]:
data['updated_headquarters']=data['Headquarters'].apply(lambda x: x.strip().split(",")[0])
data['updated_headquarters'].value_counts()

New York         52
San Francisco    42
Chicago          30
Cambridge        29
Springfield      16
                 ..
Memphis           1
Lake Forest       1
Shelton           1
Bloomington       1
Dayton            1
Name: updated_headquarters, Length: 193, dtype: int64

In [22]:

def type_company(ty):
  if "private" in ty.lower().strip():
    return "private"
  elif "government" in ty or "govt" in ty.lower().strip() or "gov" in ty.lower().strip() or "public" in ty.lower().strip():
    return "public"
  elif ('-1' in ty.lower()) or ('unknown' in ty.lower()):
    return 'Other Organization'
  else:
    return ty


data['type_of_ownership']=data['Type of ownership'].apply(type_company)

data=data.drop(['Type of ownership'],axis=1)
data['type_of_ownership'].value_counts()

private                           410
public                            208
Nonprofit Organization             55
Subsidiary or Business Segment     34
Hospital                           15
College / University               13
Other Organization                  5
School / School District            2
Name: type_of_ownership, dtype: int64

In [23]:
data.head()

                                     Job Description  ...   type_of_ownership
0  Data Scientist\nLocation: Albuquerque, NM\nEdu...  ...             private
1  What You Will Do:\n\nI. General Summary\n\nThe...  ...  Other Organization
2  KnowBe4, Inc. is a high growth information sec...  ...             private
3  *Organization and Job ID**\nJob ID: 310709\n\n...  ...              public
4  Data Scientist\nAffinity Solutions / Marketing...  ...             private

[5 rows x 20 columns]

In [24]:
def revenue_simplifier(text):
  if '-1' in text.lower():
    return 'Unknown / Non-Applicable'
  else:
    return text

def size_simplifier(text):
  if '-1' in text.lower():
    return 'Unknown'
  else:
    return text

data['Revenue'] = data['Revenue'].apply(revenue_simplifier)
data['Size'] = data['Size'].apply(size_simplifier)

data["python_job"] = data['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
data["r_job"] = data['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() else 0)
data["spark_job"] = data['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
data["aws_job"] = data['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
data["excel_job"] = data['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

data=data.drop(['Job Description'],axis=1)
data.head()

   Rating    Headquarters  ... aws_job excel_job
0     3.8      Goleta, CA  ...       0         1
1     3.4   Baltimore, MD  ...       0         0
2     4.8  Clearwater, FL  ...       0         1
3     3.8    Richland, WA  ...       0         0
4     2.9    New York, NY  ...       0         1

[5 rows x 24 columns]

In [25]:
data.dtypes

Rating                  float64
Headquarters             object
Size                     object
Industry                 object
Sector                   object
Revenue                  object
job_title_simplified     object
seniority                object
salary_per_hour           int64
emp_provided_salary       int64
min_salary                int64
max_salary                int64
average_salary          float64
updated_company_name     object
updated_competitors       int64
job_state                object
company_age               int64
updated_headquarters     object
type_of_ownership        object
python_job                int64
r_job                     int64
spark_job                 int64
aws_job                   int64
excel_job                 int64
dtype: object

**Feature Engineering**

In [26]:
# Taking top 11 Industries and replacing others by 'Others'
industry_list = ['Biotech & Pharmaceuticals', 'Insurance Carriers', 'Computer Hardware & Software', 'IT Services', 'Health Care Services & Hospitals', 
                 'Enterprise Software & Network Solutions', 'Consulting', 'Internet', 'Advertising & Marketing', 'Aerospace & Defense', 'Consumer Products Manufacturing']
job_state_list = ['CA', 'MA', 'NY', 'VA', 'IL', 'MD', 'PA', 'TX', 'NC', 'WA']
def industry_simplifier(text):
  if text not in industry_list:
    return 'Others'
  else:
    return text

def job_state_simplifier(text):
  if text not in job_state_list:
    return 'Others'
  else:
    return text
data['job_in_headquarters'] = data.apply(lambda x: 1 if x['job_state'] == x['Headquarters'] else 0, axis=1)
data['job_state'] = data['job_state'].apply(job_state_simplifier)
data['Industry'] = data['Industry'].apply(industry_simplifier)

data=data.drop(['Headquarters'],axis=1)

In [27]:
data.head()

   Rating                    Size  ... excel_job job_in_headquarters
0     3.8   501 to 1000 employees  ...         1                   0
1     3.4        10000+ employees  ...         0                   0
2     4.8   501 to 1000 employees  ...         1                   0
3     3.8  1001 to 5000 employees  ...         0                   0
4     2.9     51 to 200 employees  ...         1                   0

[5 rows x 24 columns]

In [28]:
print(data['Revenue'].value_counts())
data['Size'].value_counts()

Unknown / Non-Applicable            204
$10+ billion (USD)                  124
$100 to $500 million (USD)           91
$1 to $2 billion (USD)               60
$500 million to $1 billion (USD)     57
$50 to $100 million (USD)            46
$25 to $50 million (USD)             40
$2 to $5 billion (USD)               39
$10 to $25 million (USD)             32
$5 to $10 billion (USD)              19
$5 to $10 million (USD)              18
$1 to $5 million (USD)                8
Less than $1 million (USD)            4
Name: Revenue, dtype: int64

1001 to 5000 employees     150
501 to 1000 employees      134
10000+ employees           130
201 to 500 employees       117
51 to 200 employees         94
5001 to 10000 employees     76
1 to 50 employees           31
Unknown                     10
Name: Size, dtype: int64

**Ordinal Categorical Features**

In [29]:
size_map = {'Unknown': 0, '1 to 50 employees': 1, '51 to 200 employees': 2, '201 to 500 employees': 3,
            '501 to 1000 employees': 4, '1001 to 5000 employees': 5, '5001 to 10000 employees': 6, '10000+ employees': 7}
data['company_size_rank'] = data['Size'].map(size_map)
data.drop('Size', axis=1, inplace=True)

revenue_map = {'Unknown / Non-Applicable': 0, 'Less than $1 million (USD)': 1, '$1 to $5 million (USD)': 2, '$5 to $10 million (USD)': 3,
            '$10 to $25 million (USD)': 4, '$25 to $50 million (USD)': 5, '$50 to $100 million (USD)': 6, '$100 to $500 million (USD)': 7,
            '$500 million to $1 billion (USD)': 8, '$1 to $2 billion (USD)': 9, '$2 to $5 billion (USD)':10, '$5 to $10 billion (USD)':11, '$10+ billion (USD)':12}
data['company_revenue_rank'] = data['Revenue'].map(revenue_map)
data.drop('Revenue', axis=1, inplace=True)
job_seniority_map = {'na': 0, 'jr': 1, 'senior': 2}
data['job_seniority_rank'] = data['seniority'].map(job_seniority_map)
data.drop('seniority', axis=1, inplace=True)

**Nominal Categorical Features**

In [30]:
data = pd.get_dummies(columns=['type_of_ownership'], data=data)

data = pd.get_dummies(columns=['Industry'], data=data)


data = pd.get_dummies(columns=['job_title_simplified'], data=data)


data = pd.get_dummies(columns=['job_state'], data=data)
data=data.drop(['Sector'],axis=1)
data.shape

(742, 57)

In [31]:
data.dtypes

Rating                                              float64
salary_per_hour                                       int64
emp_provided_salary                                   int64
min_salary                                            int64
max_salary                                            int64
average_salary                                      float64
updated_company_name                                 object
updated_competitors                                   int64
company_age                                           int64
updated_headquarters                                 object
python_job                                            int64
r_job                                                 int64
spark_job                                             int64
aws_job                                               int64
excel_job                                             int64
job_in_headquarters                                   int64
company_size_rank                                     int64
company_revenue_rank                                  int64
job_seniority_rank                                    int64
type_of_ownership_College / University                uint8
type_of_ownership_Hospital                            uint8
type_of_ownership_Nonprofit Organization              uint8
type_of_ownership_Other Organization                  uint8
type_of_ownership_School / School District            uint8
type_of_ownership_Subsidiary or Business Segment      uint8
type_of_ownership_private                             uint8
type_of_ownership_public                              uint8
Industry_Advertising & Marketing                      uint8
Industry_Aerospace & Defense                          uint8
Industry_Biotech & Pharmaceuticals                    uint8
Industry_Computer Hardware & Software                 uint8
Industry_Consulting                                   uint8
Industry_Consumer Products Manufacturing              uint8
Industry_Enterprise Software & Network Solutions      uint8
Industry_Health Care Services & Hospitals             uint8
Industry_IT Services                                  uint8
Industry_Insurance Carriers                           uint8
Industry_Internet                                     uint8
Industry_Others                                       uint8
job_title_simplified_analyst                          uint8
job_title_simplified_data engineer                    uint8
job_title_simplified_data scientist                   uint8
job_title_simplified_director                         uint8
job_title_simplified_manager                          uint8
job_title_simplified_mle                              uint8
job_title_simplified_na                               uint8
job_state_CA                                          uint8
job_state_IL                                          uint8
job_state_MA                                          uint8
job_state_MD                                          uint8
job_state_NC                                          uint8
job_state_NY                                          uint8
job_state_Others                                      uint8
job_state_PA                                          uint8
job_state_TX                                          uint8
job_state_VA                                          uint8
job_state_WA                                          uint8
dtype: object

In [32]:
data['updated_company_name'].nunique()

343

In [33]:
col=['updated_company_name','updated_headquarters']
data.drop(col,axis=1,inplace=True)
data.dropna(inplace=True)

In [34]:
X = data.drop('average_salary', axis=1)
y = data['average_salary']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
print("Training set size: {} and Testing set size: {}".format(X_train.shape, X_test.shape))

Training set size: (593, 54) and Testing set size: (149, 54)

**1)Linear Regression**

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
lr_model = LinearRegression()

lr_model.fit(X_train, y_train)
y_m=lr_model.predict(X_test)
print(mean_absolute_error(y_test,y_m))
print("Accuracy of the Linear Regression Model on Training set is : {}% and on Test set is {}%".format(round(lr_model.score(X_train, y_train),4)*100, round(lr_model.score(X_test, y_test),4)*100))

3.078223731094931e-14
Accuracy of the Linear Regression Model on Training set is : 100.0% and on Test set is 100.0%

**Decision Tree Regression**

In [36]:
from sklearn.tree import DecisionTreeRegressor
decision_model = DecisionTreeRegressor(criterion='mse', max_depth=11, random_state=42)

decision_model.fit(X_train, y_train)
y_m=decision_model.predict(X_test)
print(mean_absolute_error(y_test,y_m))
print("Accuracy of the Decision Tree Regression Model on Training set is : {}% and on Test set is {}%".format(round(decision_model.score(X_train, y_train),4)*100, round(decision_model.score(X_test, y_test),4)*100))

1.1288590604026847
Accuracy of the Decision Tree Regression Model on Training set is : 100.0% and on Test set is 99.29%

**Random Forest Regression**

In [37]:
from sklearn.ensemble import RandomForestRegressor
forest_model = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=42)


forest_model.fit(X_train, y_train)
y_m=forest_model.predict(X_test)
print(mean_absolute_error(y_test,y_m))

print("Accuracy of the Random Forest Regression Model on Training set is : {}% and on Test set is {}%".format(round(forest_model.score(X_train, y_train),4)*100, round(forest_model.score(X_test, y_test),4)*100))

0.7668288590604032
Accuracy of the Random Forest Regression Model on Training set is : 99.97% and on Test set is 99.83%